<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Tareas</title>
	<link rel="stylesheet" href="{{ urlFor('root') }}public/css/bootstrap.css">
	{% block css %}{% endblock %}
</head>
<body class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>Lista de tareas</h1>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-2">
			{% include 'sidebar.twig' %}
		</div>
		<div class="col-md-10 text-center">
			{% block contenido %}{% endblock %}
		</div>
	</div>
	<script src="{{urlFor('root')}}public/js/jquery.js"></script>
	<script src="{{urlFor('root')}}public/js/bootstrap.js"></script>
	{% block js %}{% endblock %}
</body>
</html>
