{% extends 'base.twig' %}
{% block title %}
   	Tasks
{% endblock %}
{% block contenido %}
    	<form action="{{ urlFor('root') }}register-task">
			<label for="task">Tarea</label>
			<input type="text" id="task" name="task">
			<button type="submit">Guardar</button>
		</form>
{% endblock %}