{% extends 'base.twig' %}
{% block title %}
   	Tasks
{% endblock %}
{% block lateral %}
    lateral
{% endblock %}
{% block contenido %}
    	<form action="">
			<label for="task">Tarea</label>
			<input type="text" id="task" name="task">
		</form>
{% endblock %}