<ul class="nav nav-pills nav-stacked" role="tablist" id="myTab">
  <li class="active"><a href="#tareas" role="tab" data-toggle="tab">Tareas</a></li>
  <li><a href="#nueva" role="tab" data-toggle="tab">Nueva Tarea</a></li>
  <li><a href="#modificar" role="tab" data-toggle="tab">Modificar Tarea</a></li>
</ul>

